*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family: "Poppins", sans-serif;
  color: #CCCCCC;
  
  
}
body{
  background-color:#1E1E1E;
  
  justify-items: center;
  justify-content: center;
}

header{
  position:relative;
  left: 0;
  top:0;
  width:100%;
  height: 80px;
  background-color: #535353;
}
header h4{
  position:relative;
  text-align: center;
  bottom:-1rem;
  /* bottom: 1rem; */
  font-size:1.6rem;

}
.intro{
  position:fixed;
  z-index:1;
  left:0;
  top:0;
  width:100%;
  height: 100vh;
  background-color: #535353;
  transition: 1s;
}
.title{
  position: absolute;
  top:40%;
  left:50%;
  transform:translate(-50%,-50%)
}
.titleSpan{
  position: relative;
  display:inline-block;
  bottom:-20px;
  opacity: 0;
  background-color:#535353;

}
.titleSpan.active{
  bottom:0;
  opacity:1;
  transition: ease-in-out 0.5s;
}
.titleSpan.fade{
  bottom:150px;
  opacity:0;
  transition: ease-in-out 0.5s;
}
.basic{
  margin: auto;
  text-align: center;
  max-width: 1000px;
  margin-top: 30px;
  margin-bottom: 30px;
  
  
}
.img{
  background-color: white;
  object-fit: contain;
  width: 30rem;
  height: 30rem;
  border-radius:2%;
  
}
.imageContainer{
 border-radius:2%;
 position: relative;
 cursor: pointer;
 
}
.overlay{
  position: absolute;
  top:0;
  left:0;
  width: 100%;
  height: 100%;
  background: rgba(30, 30, 30, 0.9);
  color: #CCCCCC;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content:center;
  opacity: 0;
  border-radius:1%;
  transition:opacity 0.25s;
  text-align: center;

}
.overlay:hover{
  opacity: 1;
  transition: ease-in-out 2.5;
}
.bold{
  font-size:2em;
}
#eular{
  padding-top:6rem;
}
.grid{
  max-width: 10rem;
  margin: auto; 
  display:grid;
  justify-items:center;
  justify-content:center;
  gap:2rem;

  grid-template-columns: 1fr 1fr;
  
}
footer{
  background-color:#535353 ;
  position: relative;
  font-family: "Poppins", sans-serif;
  text-align: center;
  bottom:-30px;
  padding-top: 20px;
  padding-bottom: 20px;
}
